# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
venv/
.venv/
*.mp4
*.zip

# Projeto
models/*.pt
models/*.onnx
dataset/images/
dataset/labels/
dataset/train/
dataset/valid/
dataset/test/
dataset/*.zip
dataset/*.cache
runs/

# IDE
.idea/
.vscode/
*.swp
.DS_Store
